:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --width: 550px;
  --height: 450px;
  --gap: 8px;
  
  --light: #ddd;
  --mid: #888;
  --dark: #222;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--light);
  background-color: var(--dark);
  font-family: 'Courier New', Courier, monospace
}

main {
  position: relative;
  width: var(--width);
  height: var(--height);
  font-weight: bold;
  border: 1px solid var(--light);
  border-radius: var(--gap);
  box-sizing: border-box;

  p {
    margin: 0.5em
  }
}

div#mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222c;
  border-radius: var(--gap);
}

div.hidden {
  display: none
}

span.cursor {
  display:inline-block;
  position: relative;
  top: 0.125em;
  width: 0.5em;
  height: 1em;
  background-color: var(--light);
}

p.nail {
  white-space: pre;
}

#readlineSim p {
  margin: 0 0.5em;

  &:first-child,
  &:last-child {
    margin-top: 1em;
  }
}

button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 8em;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;

  color: inherit;

  &#start {
    background-color: #060;
    border-color: #080;
  }

  &#restart {
    opacity: 0.25;

    &:hover {
      opacity: 1;
    }
  }
}

